<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="{{url_for('static',
filename='images/አ.png')}}" alt="" width="50" height="40" class="d-inline-block align-text-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>

  </div>
</nav>
<div class="jumbotron text-center">
  <h1 >Anbibe </h1>

</div>

<div class="container">
  <div class="row">
    <div class="col">
        <div class="content">
            <p class="h1">Free online Ocr</P>
            <p class="h5">Easily convert scanned Amharic books, images, newspapers, business and legal documents
        into editable and searchable text format for free.
        All major file formats (PDF, JPG, BMP, PNG) are supported by
        this free Amharic Optical Character Recognition (OCR).</P></div>
    </div>
    <div class="col md-auto">
     <div class="drag-area">

 <form method="post" action="/" enctype="multipart/form-data">

<div class="drop-zone">
    <span class="drop-zone__prompt">Drop file here or click to upload</span>
    <i class="fab fa-bootstrap"></i>
    <input type="file" name="file" class="drop-zone__input">


  </div>
<div class="proceed-btn">

    <button type="submit" class="btn btn-primary btn-lg" style="width:80%">Extract</button>
    </div>
     <script src="{{url_for('static',filename='script.js')}}"></script>



</form>

</div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>